body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #253e92;
}

#heading {
  background-color: black; /*Color for all heading*/
  height: 50px;
  width: 100%;
  border-bottom: solid white 3px;
  position: fixed; /*keeps the element from moving with scroll*/
  top: 0px;
  z-index: 1; /*prevent the elements below from overlapping the heading*/
}

#heading_holder {
  width: 95%;
  color: white;
  text-emphasis: bold;
  font-size: auto;
  display: flex; /*sets up for special layout*/
  justify-content: space-between; /*displays el's on same line but opp sides*/
  padding-top: 0%;
  font-size: 150%;
  margin-left: 2.5%;
}

#heading_holder p {
  margin: 1% 0%;
  font-size: 100%;
}

#content {
  background-color: skyblue;
  text-align: center;
  margin: 0px;
  margin-top: 53px; /*pushes element below #heading*/
  height: 100px;

}

#media {
  text-align: center;
  margin-left: 0px;
  width: 100%;
  height: 665px;
  background: radial-gradient(#03506f, #0a043c);
  z-index: 2;
}

#counter_bubble {
  color: red;
  /* background: radial-gradient(#d3e0ea, #276678); */
  position: absolute;
  left: 37%;
  top: 320px;
  font-size: 70px;
  text-align: center;
  height: 375px;
  width: 375px;
  /*
  border: solid white 5px;
  border-radius: 50%;
  */
}

#counter {
  opacity: 1;
}
.buttons {
    text-align: center;
}

.bubble_button {
  position: relative;
  height: 215px;
  width: 200px;
}

.bubble_button img {
  width: 100%;
  height: 100%;
}

.bubble_button button {
  color: white;
  font-size: 250%;
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  background-color: transparent;
  border-radius: 100%;
}

#bubble1 {
  position: absolute;
  z-index: 3;
  background-image: url(bubble.png);
    top: 250px;
}
#bubble2 {
  position: absolute;
  top: 150px;
  right: 10px;
}
#bubble3 {
  position: absolute;
  bottom: 75px;
  left: 50px;
}

#bubble4 {
  position: absolute;
  bottom: 20px;
  right: 75px;
}
