body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #003941;
  overflow-x: hidden;
  overflow-y: hidden;
}

#heading {
  background-color: black; /*Color for all heading*/
  height: 50px;
  width: 100%;
  border-bottom: solid white 3px;
  position: fixed; /*keeps the element from moving with scroll*/
  top: 0px;
  z-index: 1; /*prevent the elements below from overlapping the heading*/
}

#heading_holder {
  width: 95%;
  color: white;
  text-emphasis: bold;
  font-size: auto;
  display: flex; /*sets up for special layout*/
  justify-content: space-between; /*displays el's on same line but opp sides*/
  padding-top: 0%;
  font-size: 150%;
  margin-left: 2.5%;
}

#heading_holder p {
  margin: 1% 0%;
  font-size: 100%;
}

/* #content {
  background-color: #66888D;
  text-align: center;
  margin: 0px;
  margin-top: 53px;
  height: 100px;
  color: #FFFFFF;
  font-size: 17px;
} */

.buttons {
    text-align: center;
}

.bubble_button {
  position: relative;
  height: 215px;
  width: 200px;
}

.bubble_button img {
  width: 100%;
  height: 100%;
}

.bubble_button button {
  color: white;
  font-size: 150%;
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  background-color: transparent;
  border-radius: 100%;
}

#bubble1 {
  position: absolute;
  z-index: 3;
  /* background-image: url(bubble.png); */
    top: 200px;
    left: 250px;
}
#bubble2 {
  position: absolute;
  top: 200px;
  right: 250px;

}
#bubble3 {
  position: absolute;
  bottom: 100px;
  left: 250px;
}

#bubble4 {
  position: absolute;
  bottom: 100px;
  right: 250px;
}
