body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #003941;
}

#heading {
  background-color: black; /*Color for all heading*/
  height: 50px;
  width: 100%;
  border-bottom: solid white 3px;
  position: fixed; /*keeps the element from moving with scroll*/
  top: 0px;
  z-index: 1; /*prevent the elements below from overlapping the heading*/
}

#heading_holder {
  width: 95%;
  color: white;
  text-emphasis: bold;
  font-size: auto;
  display: flex; /*sets up for special layout*/
  justify-content: space-between; /*displays el's on same line but opp sides*/
  padding-top: 0%;
  font-size: 150%;
  margin-left: 2.5%;
}

#heading_holder p {
  margin: 1% 0%;
  font-size: 100%;
}

#content {
  background-color: #66888D;
  text-align: center;
  margin: 0px;
  margin-top: 53px; /*pushes element below #heading*/
  height: 100px;
  color: #FFFFFF;
  font-size: 17px;
}

#subContent1 {
  text-align: center;
  width:600px;
  position:relative;
  left:20px;
}

#subContent2 {
  text-align: center;
  width:600px;
  position:relative;
  left:700px;
  bottom:112px;
}

#media {
  text-align: center;
  margin-left: 0px;
  width: 100%;
  height: 665px;
  background: radial-gradient(#66888D, #003941, #001D21);
  z-index: 2;
}

#counter_bubble {
  color: #C8004F;
  /* background: radial-gradient(#d3e0ea, #276678); */
  position: absolute;
  left: 37%;
  top: 120px;
  font-size: 130px;
  text-align: center;
  height: 375px;
  width: 375px;

  /*
  border: solid white 5px;
  border-radius: 50%;
  */
}

#counter {
  opacity: 1;
}
.buttons {
    text-align: center;
}

.bubble_button {
  position: relative;
  height: 215px;
  width: 200px;
}

.bubble_button img {
  width: 100%;
  height: 100%;
}

.bubble_button button {
  color: white;
  font-size: 250%;
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  background-color: transparent;
  border-radius: 100%;
}

#bubble1 {
  position: absolute;
  z-index: 3;
  /* background-image: url(bubble.png); */
    top: 200px;
    left: 20px;
}
#bubble2 {
  position: absolute;
  top: 150px;
  right: 10px;

}
#bubble3 {
  position: absolute;
  bottom: 5px;
  left: 50px;
}

#bubble4 {
  position: absolute;
  bottom: 20px;
  right: 70px;
}

#purple1 {
  width: 250px;
  position: absolute;
  top: 170px;
  left: 225px;
  transform: rotate(10 deg);
  transform: scaleX(1);
}

#blue1 {
  position: absolute;
  width: 250px;
  top: 420px;
  left: -20px;
  transform: rotate(-35deg);
  transform: scaleX(-1);
}

#green1 {
  position: absolute;
  width: 250px;
  top: 450px;
  right: 200px;
  transform: rotate(270deg);
}

#purple2 {
  width: 350px;
  position: absolute;
  bottom: -40px;
  left: 585px;
  transform: scaleX(-1) rotate(-5deg);
}

#blue2 {
  position: absolute;
  width: 230px;
  bottom: 280px;
  right: 20px;
  transform: rotate(160deg);
}

#green2 {
  position: absolute;
  width: 200px;
  top: 200px;
  left: 500px;
  transform: scaleX(-1) rotate(300deg);
}

#purple3 {
  width: 200px;
  position: absolute;
  top: 200px;
  right: 200px;
  transform: scaleX(-1) rotate(30deg);
}

#blue3 {
  position: absolute;
  width: 300px;
  bottom: 340px;
  right: 350px;
  transform: rotate(-25deg) rotate(20deg);
}

#green3 {
  position: absolute;
  width: 350px;
  bottom: 70px;
  right: 750px;
  transform:rotate(200deg);
}
